* {
  margin: 0;
}

body {
  font-family: "Oswald", sans-serif;
}

a {
  text-decoration: none;
  color: rgb(131, 181, 247);
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 6rem;
  font-weight: 300;
  line-height: 115%;
  text-transform: uppercase;
  max-width: 75vw;
  color: black;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  font-weight: 300;
  line-height: 6rem;
}

nav {
  flex-wrap: wrap;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 1rem;
}

.ai-c {
  align-items: center;
}

.bgc-black {
  background-color: black;
}

.bgc-g {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(230, 231, 255, 1) 100%
  );
}

.bgc-lightblue {
  background: lightblue;
}

.bgc-lightgray {
  background-color: rgb(189, 189, 189);
}

.bgc-orange {
  background-color: orange;
}

.bgc-white {
  background-color: white;
}

.border {
  border: lightgray 1pt solid;
}

.c-lightgray {
  color: rgb(136, 136, 136);
}

.container {
  position: relative;
}

.contain-row {
  flex-direction: row;
}

.c-white {
  color: white;
}

.d-f {
  display: flex;
}

.d-inline {
  display: inline;
}

.dropdown {
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  background-color: white !important;
  border-radius: 20px;
}

.f-oswald {
  font-family: "Oswald", sans-serif;
}

.f-400 {
  font-weight: 400;
}

.f-caps {
  text-transform: uppercase;
}

.f-size {
  font-size: 1rem;
}

.f-size2 {
  font-size: 2rem;
}

.fxw-w {
  flex-wrap: wrap;
}

.fx-1 {
  flex: 1;
}

.hamburger {
  display: none;
}

.hamburger-bar {
  display: block;
  width: 25px;
  height: 1px;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #7e7e7e;
}

.jc-sb {
  justify-content: space-between;
}

.line-h {
  line-height: 2rem;
}

.lis-n {
  list-style: none;
}

.m {
  margin: 1.5rem;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.m-large {
  margin: 3rem;
}

.m0 {
  margin: 0;
}

.m-left {
  margin-left: 1rem;
}

.nav-link {
  transition: 0.7s ease;
  text-underline-offset: 5px;
}

.p {
  padding: 1rem;
}

.p-large {
  padding: 5rem;
}

.p0 {
  padding: 0;
}

.p-1 {
  padding: 1rem;
}

.pos-b {
  object-position: bottom;
}

.pos-r {
  position: relative;
}

.sticky {
  position: sticky;
  top: 0;
}

.t-center {
  text-align: center;
}

.t-left {
  text-align: left;
}

.underline:hover {
  text-decoration: underline;
}

.uppercase {
  text-transform: uppercase;
}

.w-100 {
  width: 100%;
}

.w-sm {
  width: 1.5rem;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.w-200 {
  width: 200px;
}

.z-index {
  z-index: 1;
}

.nav-link:hover {
  transition: all 0.3s ease-in-out;
}

/* media queries */
@media (min-width: 768px) {
  .d-f\@lrg {
    display: flex;
  }

  .ml\@lrg {
    margin-left: 1.5rem;
  }

  .ord-1\@lrg {
    order: 1;
  }

  .ord-2\@lrg {
    order: 2;
  }
}
@media screen and (max-width: 767px) {
  .miw-100\@sml {
    min-width: 100%;
  }
  .hamburger {
    display: block;
    float: right;
  }
  .logo {
    max-width: 100px;
  }
  .menu {
    z-index: 1;
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0px;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    padding-top: 20px;
    margin-top: 2px;
  }
  .nav-link {
    margin: 16px 0;
  }

  .menu.active {
    left: 0;
  }
}
